 {% extends 'parking/base.html'%}
 {%load static%}
 {% block content%}
 
 <form id="regForm" method="POST" >
  {% csrf_token %}
    <h1>Register:</h1>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">Person's Info:<br>
     
      {{person_form}}
    </div>
    <div class="tab">Vehicle Info:<br>
     
    {{vehicle_form}}
    </div>
    <div class="tab">Parking:<br>
      
      {{parking_form}}
    </div>
   
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="submit" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>
{% endblock%}

   
    
  
   