{% extends 'parking/base.html'%}
{% block content%}
<div>

    <!-- ======= Cliens Section ======= -->
    {% include "includes/clients.html"%}
   <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    {% include "includes/about.html"%}
   <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    {% include "includes/service.html"%}
    <!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    {%include "includes/cta.html"%}
   <!-- End Cta Section -->


    <!-- ======= Pricing Section ======= -->
    {% include "includes/pricing.html"%}
    <!-- End Pricing Section -->

  

    <!-- ======= Contact Section ======= -->
    {% include "includes/contact.html" %}
    <!-- End Contact Section -->

</div>
{% endblock%}