{% extends 'parking/base.html'%}
{%load static%}
{% block content%}

<form id="regForm" method="post" >
 {% csrf_token %}
   <h1>Add Vehicle:</h1>
   <!-- One "tab" for each step in the form: -->
 
   <div class="tab">Vehicle Info:<br>
   {{form}}
   </div>
  
   <div style="overflow:auto;">
     <div style="float:right;">
       <button type="submit" id="nextBtn">Save</button>
     </div>
   </div>
   <div>
    <h5>My Vehicles</h5>
    {%for vehicle in vehicles%}
    <p>Vehicle Type: {{vehicle.car_type}}</p>
    <p>Vehicle Plate: {{vehicle.car_plate}}</p>
    <hr>
    {%endfor%}
</div>
 </form>

{% endblock%}

  
   
 
  